<section class="jumbotron text-center">
   <div class="container">
      <h1 class="jumbotron-heading">My portfolio</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>
         <%= link_to "Find more about me", about_me_path, class: "btn btn-primary" %>
         <%= link_to "My blog", blogs_path, class: "btn btn-secondary" %>
      </p>
   </div>
</section>