<h1>Contact me</h1>

<hr>

<div class="row">
   <div class="col-md-6">
      <h3>Office Address</h3>
      
      <p>Jana Pawła II 1d, Gdańsk</p>
      
      <h3>Phone</h3>
      
      <p><%= number_to_phone "792450480" %></p>
      
      <h3>Email</h3>
      
      <p><a href="mailto:marcin.kopanski@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
   </div>
   
   <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.770522359256!2d18.59782901621053!3d54.396368180212484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd74cfb14deda1%3A0xa460b2a9aa6f33b3!2saleja+Jana+Paw%C5%82a+II+1D%2C+80-462+Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1506121132941" 
         width="450" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
   </div>
</div>

<p></p>

<p></p>